
#copyright-button {

    position:           absolute;
    top:                auto;
    bottom:             $ui-margin-bottom;
    left:               auto;
    right:              $ui-margin-right;
    text-align:         right;
    pointer-events:     auto;
    user-select:        none;

    // the size is so small here that wrapping to
    // major text breakpoints is redundant
    @include media ("width<500px") {

        display:    none;
    }
}

#copyright-block {

    --block-padding:        1.3rem;

    position:               absolute;

    right:                  $ui-margin-right    + 3.4rem;
    bottom:                 $ui-margin-bottom   + 3.4rem;

    // when the space is running out we align to the left
    @include media ("width<670px") {

        right:              auto;
        left:               calc(#{$ui-margin-left} - var(--block-padding));
    }

    // when the space is running out we push closer to the edge
    @include media ("height<400px") {

        bottom:             $ui-margin-bottom;
    }

    width:                  30rem;
    height:                 auto;

    // one column
    @include media ("width<450px") {

        width:              15rem;
    }

    opacity:                0.0;
    transition:             opacity 0.5s;

//  background-color:       var(--color-fr);

    pointer-events:         none;
    user-select:            none;

    z-index:                1;

    &.visible {

//      opacity:            0.5;
        opacity:            1.0;
        transition:         opacity 0.5s;
    }

    & > div {

        display:            inline-block;
        padding:            var(--block-padding);
    }

    #block-a,
    #block-b {

        p {

            @include font-bold;

            color:              var(--color-bg);
            font-size:          var(--font-size-normal);
            line-height:        1.3;    // no units !!
        }

        h4 {

            @include font-normal;

            color:              var(--color-bg);
            font-size:          var(--font-size-normal);
            line-height:        1.2;    // no units !!
        }
    }

    #block-c {

        p {

            @include font-normal;

            color:              var(--color-bg);
            font-size:          var(--font-size-normal);
            line-height:        1.3;    // no units !!
        }
    }
}
