
#terms-conditions-button {

    position:           absolute;
    top:                auto;
    bottom:             $ui-margin-bottom;
    left:               $ui-margin-left;
    right:              auto;

    text-align:         right;
    cursor:             default;

    // hide button when on so it doesn't collide with text
    &[button-state='on'] {

        opacity:    0.0;
    }
}

#terms-conditions-block {

    position:                   absolute;
    top:                        0;
    left:                       0;
    width:                      100vw;
    height:                     100%;

    overflow:                   auto;

    display:                    flex;
    align-items:                center;

    .scroll {

        &.visible {

            opacity:                1.0;
            transition:             opacity 0.5s;

            // button overrides ..
            &.button-press {

                pointer-events:     auto;
                z-index:            1;
                opacity:            1.0;
            }
        }

        &.hidden {

            opacity:                0.0;
            transition:             opacity 0.5s;

            // button overrides ..
            &.button-press {

                pointer-events:     none;
                z-index:            0;
                opacity:            0.0;
            }
        }

        & > div {

            // content catches pointer events
            pointer-events:     none;
        }

        --gap-row:              var(--font-size-3);
        --gap-col:              var(--font-size-3);

        --padding-left:         calc(var(--font-size-6) * 0.7);
        --padding-right:        #{$ui-margin-right};

        // padding-top:            6.3rem;             // to line up with links
        padding-top:            $ui-margin-top;     // to line up with links
        padding-bottom:         $ui-margin-top;     // top !

        padding-left:           var(--padding-left);
        padding-right:          var(--padding-right);

        // this stretches scroll to cover entire screen so
        // we can grab and scroll anywhere on the screen ..
        width:                  calc(100% - var(--padding-left) - var(--padding-right));

        display:                grid;

        grid-template-columns:  30rem 30rem;
        grid-template-rows:     12.5rem 12.5rem;

        // grid-gap:               var(--gap-vert) var(--gap-horz);

        // 'grid-gap' seems not working on Edge, this is a walkaround ..
        row-gap:                var(--gap-row);
        column-gap:             var(--gap-col);

        justify-items:          stretch;

        pointer-events:         none;   // !!

        > div {

            // color:              var(--color-bg);

            display:            inline-block;
            float:              left;
            justify-self:       stretch;
            align-self:         stretch;

            width:              fit-content;
            height:             fit-content;
        }

        h2 {

            // this breaks the heading lines at desired point
            max-width:          8em;

            // do not break the words, do not show the hypens
            -webkit-hyphens:    none;
                -ms-hyphens:    none;
                    hyphens:    none;

            break-word:         keep-all;
        }

        p, h2 {

            // color:              var(--color-bg);
        }

        #block-a {

            // breaks the line at specific word
            // h2 {    max-width: 10em;    }

            grid-column-start:  1;
            grid-column-end:    span 1;
            grid-row-start:     1;
            grid-row-end:       span 1;
        }

        #block-b {

            // breaks the line at specific word
            // h2 {    max-width: 10em;    }

            grid-column-start:  2;
            grid-column-end:    span 1;
            grid-row-start:     1;
            grid-row-end:       span 1;
        }

        #block-c {

            // breaks the line at specific word
            // h2 {    max-width: 10em;    }

            grid-column-start:  1;
            grid-column-end:    span 1;
            grid-row-start:     2;
            grid-row-end:       span 1;
        }

        #block-d {

            // breaks the line at specific word
            // h2 {    max-width: 15em;    }

            grid-column-start:  2;
            grid-column-end:    span 1;
            grid-row-start:     2;
            grid-row-end:       span 1;
        }
    }

    @include media ("width<text") {

        @include media ("height<1250px") {

            align-items: flex-start;
        }
    }

    @include media ("width<1750px") {

        @include media ("width>=text") {

            @include media ("height<1600px") {

                align-items: flex-start;
            }
        }

        .scroll {

            grid-template-columns:  30rem;
            grid-template-rows:     auto;

            #block-a {

                grid-column-start:  1;
                grid-column-end:    span 1;
                grid-row-start:     1;
                grid-row-end:       span 1;
            }

            #block-b {

                grid-column-start:  1;
                grid-column-end:    span 1;
                grid-row-start:     2;
                grid-row-end:       span 1;
            }

            #block-c {

                grid-column-start:  1;
                grid-column-end:    span 1;
                grid-row-start:     3;
                grid-row-end:       span 1;
            }

            #block-d {

                grid-column-start:  1;
                grid-column-end:    span 1;
                grid-row-start:     4;
                grid-row-end:       span 1;
            }
        }
    }

    @include media ("width<850px") {

        align-items: flex-start;

        .scroll {

            grid-template-columns:  30rem;
            grid-template-rows:     auto;

            padding-left:           10%;
            padding-right:          10%;
            width:                  80%;
        }
    }

    @include media ("width<700px") {

        align-items: flex-start;

        .scroll {

            grid-template-columns:  20rem;
            grid-template-rows:     auto;
        }
    }

    @include media ("width<550px") {

        align-items: flex-start;

        .scroll {

            grid-template-columns:  100%;
            grid-template-rows:     auto;

            padding-left:           10%;
            padding-right:          10%;
            width:                  80%;

            h2 {

                // break the words if necessary, show the hypens
                -webkit-hyphens:    manual;
                    -ms-hyphens:    manual;
                        hyphens:    manual;

                break-word:         break-word;
            }
        }
    }
}
