
#terms-conditions-button {

    position:           absolute;
    top:                auto;
    bottom:             $ui-margin-bottom;
    left:               $ui-margin-left;
    right:              auto;

    text-align:         right;
    cursor:             default;

    // hide button when on so it doesn't collide with text
    &[button-state='on'] {

        opacity:    0.0;
    }
}

#terms-conditions-block {

    position:                   absolute;
    top:                        0;
    left:                       0;
    width:                      100vw;
    height:                     100%;

    overflow:                   auto;

    display:                    flex;
    align-items:                center;

    &.visible {

        opacity:                1.0;
        transition:             opacity 0.5s;

        // this allows scroll-bar to receive events
        pointer-events:         auto;

        .scroll {

            // button overrides ..
            pointer-events:     auto    !important;
            z-index:            1       !important;
            opacity:            1.0     !important;
        }
    }

    &.hidden {

        opacity:                0.0;
        transition:             opacity 0.5s;

        pointer-events:         none;

        .scroll {

            // button overrides ..
            pointer-events:     none    !important;
            z-index:            0       !important;
            opacity:            1.0     !important;
        }
    }

    .scroll {

        & > div {

            // content catches pointer events
            pointer-events:     none;
        }

        --gap-vert:             1.71rem;
        --gap-horz:             3.42rem;

        padding-top:            $ui-margin-top -  0.7rem;   // to line up with links
        padding-bottom:         $ui-margin-top;             // top !

        padding-left:           $ui-margin-left;
        padding-right:          $ui-margin-right;

        display:                grid;

        grid-template-columns:  30rem 30rem;
        grid-template-rows:     10rem 10rem;
        grid-gap:               var(--gap-vert) var(--gap-horz);

        justify-items:          stretch;

        pointer-events:         none;   // !!

        > div {

            display:            inline-block;
            float:              left;
            justify-self:       stretch;
            align-self:         stretch;

            width:              fit-content;
            height:             fit-content;
        }

        #block-a {

            grid-column-start:  1;
            grid-column-end:    span 1;
            grid-row-start:     1;
            grid-row-end:       span 1;
        }

        #block-b {

            grid-column-start:  2;
            grid-column-end:    span 1;
            grid-row-start:     1;
            grid-row-end:       span 1;
        }

        #block-c {

            grid-column-start:  1;
            grid-column-end:    span 1;
            grid-row-start:     2;
            grid-row-end:       span 1;
        }

        #block-d {

            grid-column-start:  2;
            grid-column-end:    span 1;
            grid-row-start:     2;
            grid-row-end:       span 1;
        }

        p {

            @include font-normal;

            color:              var(--color-bg);
            font-size:          var(--font-size-normal);
            line-height:        1.3;    // no units !!
        }

        h3 {

            @include font-bold;

            color:              var(--color-bg);
            font-size:          var(--font-size-normal);
            line-height:        1.2;    // no units !!
        }
    }

    @include media ("width<1400px") {

        @include media ("height<900px") {

            align-items: flex-start;
        }

        .scroll {

            grid-template-columns:  30rem;
            grid-template-rows:     auto;

            #block-a {

                grid-column-start:  1;
                grid-column-end:    span 1;
                grid-row-start:     1;
                grid-row-end:       span 1;
            }

            #block-b {

                grid-column-start:  1;
                grid-column-end:    span 1;
                grid-row-start:     2;
                grid-row-end:       span 1;
            }

            #block-c {

                grid-column-start:  1;
                grid-column-end:    span 1;
                grid-row-start:     3;
                grid-row-end:       span 1;
            }

            #block-d {

                grid-column-start:  1;
                grid-column-end:    span 1;
                grid-row-start:     4;
                grid-row-end:       span 1;
            }
        }
    }

    @include media ("width<" + (30rem + $ui-margin-left + $ui-margin-right)) {

        align-items: flex-start;

        .scroll {

            grid-template-columns:  100%;
            grid-template-rows:     auto;
        }
    }
}
