
$ui-margin-top:         6.27rem;
$ui-margin-bottom:      2.6rem;
$ui-margin-left:        4.8rem;
$ui-margin-right:       4.8rem;

#ui {

    @include font-normal;

    // without this css below the UI doesn't show up at all
    height:             100vh;
    width:              100vw;
    position:           fixed;
    top:                0;
    left:               0;
    z-index:            2;

    // some base settings ..
    font-size:          var(--font-size-normal);
    line-height:        1.6;    // no units !!

    // the container catches pointer events
    pointer-events:     none;

    // buttons below overlay

    &.overlay {

        // All buttons default ..

        .button-hover,
        .button-press {

            &:not(.hidden) {

                pointer-events:     none;
                opacity:            0.3;

                &[button-state='on'] {

                    opacity:        1.0;
                    pointer-events: auto;
                }
            }
        }

        // some special cases ..

        // 'visible' class might not be always set
        #contact-button:not(.hidden) {

            opacity:            0.0;
            pointer-events:     none;

            &.button-hover[button-state='on'] {

                pointer-events:     auto;
            }
        }

        // hide press button when turned on, priority override.
        #terms-conditions-button.button-press[button-state='on'] {

            opacity:            0.0;
            pointer-events:     none;
        }
    }

    // buttons defaults ..

    .button-hover,
    .button-press {

        // make sure buttons and links receives events
        pointer-events:     auto;

        color:              var(--color-fr);
        transition:         color 0.5s, opacity 0.5s;

        z-index:            999;

        &[button-state='on'] {

            color:              var(--color-bg);
            transition:         color 0.5s, opacity 0.5s;
        }

        &.hidden {

            pointer-events: none;
        }
    }

    .button-hover { cursor: default; }
    .button-press { cursor: pointer; }

    #overlay {

        position:               fixed;

        left:                   0;
        top:                    0;
        width:                  100vw;
        height:                 100vh;

        padding:                0;
        margin:                 0;

        background-color:       var(--color-fr);
        opacity:                0.0;

        z-index:                -1;

        pointer-events:         none;
        user-select:            none;

        &.visible {

            transition:         opacity 0.5s;
            opacity:            0.7;

            pointer-events:     auto;
        }

        &.hidden {

            transition:         opacity 0.5s;
            opacity:            0.0;
        }
    }
}
