
#content {

    --gallery-block-filter-on:  grayscale(1.0) contrast(0.5) brightness(0.5);
    --gallery-block-filter-off: grayscale(0.0) contrast(1.0) brightness(1.0);

    .gallery-block {

        filter:             var(--gallery-block-filter-on);
        transition:         filter 0.5s;

        // block recieves pointer events

        user-select:        none;
        pointer-events:     auto;
        cursor:             pointer;

        &.visible {

            filter:         var(--gallery-block-filter-off);
            transition:     filter 0.5s;
        }

        &.hidden {

            filter:         var(--gallery-block-filter-on);
            transition:     filter 0.5s;
        }
    }
/*
    .gallery-block:after {

        content: "";
        background-color: red;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }
*/
}
