
#gallery-videos {

    --section-height:       40vw;
    --video-height:         calc(var(--section-height) *  1.4);
    --video-offset:         calc(var(--section-height) * -0.2);

    .video-wrapper {

        width:                  100%;
        height:                 var(--section-height);   // keep the video in desired proportion
        user-select:            none;
        pointer-events:         auto;
        overflow:               hidden;

        .video-cover {

            &.cover-hidden  {   display: none;  }
            &.cover-visible {   display: block; }

            // position:           absolute;
            position:           relative;
            width:              100%;
            left:               0;
            height:             var(--video-height);
            top:                var(--video-offset);
            user-select:        none;
            pointer-events:     none;
            z-index:            1;

            // filter:             blur(var(--blur));
        }

        iframe {

            // position:           absolute;
            position:           relative;
            width:              100%;
            left:               0;

            // we have to scale to stretch the video accoring aspect ratio of the video
            height:             var(--video-height);
            top:                var(--video-offset);

            user-select:        none;
            pointer-events:     none;
        }
    }
}
