
$ui-margin-top:             6.27rem;
$ui-margin-bottom:          2.6rem;
$ui-margin-left:            4.8rem;
$ui-margin-right:           4.8rem;

$ui-margin-right-content:   $ui-margin-right    + 3.4rem;
$ui-margin-bottom-content:  $ui-margin-bottom   + 3.4rem;
