
// ----------------------------------------------
// GENERAL

:root {

    --color-fr-r:           225;
    --color-fr-g:           225;
    --color-fr-b:           225;

    // --color-bg-r:           32;
    // --color-bg-g:           34;
    // --color-bg-b:           37;

    --color-bg-r:           35;
    --color-bg-g:           35;
    --color-bg-b:           35;

    --color-fr:             rgb(var(--color-fr-r), var(--color-fr-g), var(--color-fr-b));
    --color-bg:             rgb(var(--color-bg-r), var(--color-bg-g), var(--color-bg-b));

    // don't use pixels on blur ! yelds inconsistent results in different devices
    --blur-focus-in:        blur(0);    // no units !! (Edge)
    --blur-focus-out:       blur(1.6vw);

    --duration-zoom:        0.3s;
    --duration-flyin:       0.2s;
    --duration-focus:       1.0s;
    --duration-opacity-in:  1.0s;
    --duration-opacity-out: 1.0s;

    --ease-focus:           cubic-bezier(0.0, 0.5, 0.5, 1.0);
    --ease-opacity-in:      cubic-bezier(0.0, 0.0, 0.6, 1.0);
    --ease-opacity-out:     cubic-bezier(0.0, 0.7, 0.3, 1.0);

    color:                  var(--color-fr);
    background-color:       var(--color-bg);

    transition:             none;   // !!
}

@function calcmix ($p1, $p2, $v1, $v2) {

    @return calc((#{$p1} * #{$v1}) + (#{$p2} * #{$v2}));
}

@function calcmixv ($p1, $p2, $v1, $v2) {

    @return calc((var(#{$p1}) * #{$v1}) + (var(#{$p2}) * #{$v2}));
}

@function stretch ($p, $min, $max) {

    @return calc((#{$p} - #{$min}) / (#{$max} - #{$min}));
}

@function stretchv ($p, $min, $max) {

    @return calc((var(#{$p}) - #{$min}) / (#{$max} - #{$min}));
}

// this forces vertical scroll-bar
// second best option after hiding the scroll-bar which is
// unfortunately not supported on most browsers
// scroll-bar popping in/out is just annoying and distracting

// https://css-tricks.com/snippets/css/force-vertical-scrollbar/
// Check "Renato Frota" comment !

// html { overflow-y: scroll;  overflow-x: hidden;     }
// body { overflow-y: initial; overflow-x: initial;    }

body {
    overflow-y: scroll;
    overflow-x: hidden;

    #body-wrapper {

        overflow-y: initial;    // !!
        overflow-x: initial;    // !!
    }
}

// to stop scrolling of the content behind modal overlay scrolling block ..
// this is a little weird behaviour that causes scrolling events
// propagate to the parent elements when you reach the edges of the scroll

// https://stackoverflow.com/questions/5802467/prevent-scrolling-of-parent-element-when-inner-element-scroll-position-reaches-t
// https://stackoverflow.com/questions/9280258/prevent-body-scrolling-but-allow-overlay-scrolling

// stop content scrolling ..
body.has-screen {

    // WARNING:
    // do not use "position: fixed" or the content will jump as the body's vertical scrollbar will be hidden
    // use "position: absolute" insteead !

    overflow:           hidden;

    // this forces vertical scroll-bar
    // second best option after hiding the scroll-bar which is
    // unfortunately not supported on most browsers
    // scroll-bar popping in/out is just annoying and distracting

    #body-wrapper {

        overflow-y:     scroll;
    }
}

body {

    display:                block;

    margin:                 0;
    padding:                0;

    color:                  inherit;
    background-color:       var(--color-bg);

    -webkit-user-select:    none;
    -moz-user-select:       none;
    -ms-user-select:        none;
    user-select:            none;

    -webkit-user-drag:      none;
    -khtml-user-drag:       none;
    -moz-user-drag:         none;
    -o-user-drag:           none;
    user-drag:              none;

    // https://stackoverflow.com/questions/25704650/disable-blue-highlight-when-touch-press-object-with-cursorpointer
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

#body-wrapper {

    position:   absolute;
    left:       0;
    top:        0;
    width:      100%;
    height:     auto;
    overflow:   hidden;
}
