
#label-demo {

    @include font-boldest;

    position:           absolute;

    left:               0em;
    top:                -0.8em;

    transform:          rotate(90deg);
    transform-origin:   left bottom 0;

    float:              left;

    font-size:          var(--font-size-6);
    line-height:        0.7;    // no units !!

    white-space:        nowrap;
    word-wrap:          normal;

    display:            block;
    color:              var(--color-fr);

    transition:         opacity var(--duration-zoom) var(--ease-focus);

    pointer-events:     none;
    user-select:        none;

    opacity:            0.2;
    
    @include media ("width<1000px") {

        opacity:        0.1;
    }
}
