
#content-overflow {

    overflow: hidden;

    #content-transform {

        transition: transform   var(--duration-zoom)    var(--ease-focus),
                    opacity     var(--duration-focus)   var(--ease-focus),
                    filter      var(--duration-focus)   var(--ease-focus);

        &.focusing {

            // skip filter transition, messing up with animation
            transition: transform   var(--duration-zoom)    var(--ease-focus),
                        opacity     var(--duration-focus)   var(--ease-focus);
        }

        // this cuts off content overlay and prevents some issues on Edge
        overflow: hidden;

        // as the layer is scaled the actual width get's much bigger than
        // viewport width and even with 'overflow:hidden'
        // some browsers (Edge) might show a horizontal scroll bar
        // this prevents that from happening ..
        // width: 100vw;

        #content {

            position:   relative;
            top:        0;
            left:       0;
            width:      100%;
            height:     auto;

            pointer-events:     none; // !!
        }
    }
}
