
#gallery-images {

    // Prevent vertical gaps
    line-height: 0;

    // keep images below videos
    z-index: -1;

    --offset: 250px;

    // margin-top: var(--offset);

    .gallery-block {

        width: 25%;

        img {

            display:            block;  // !!
            width:              100%;   // !!

            user-select:        none;
            pointer-events:     none;
        }

        @mixin ch1 { &:nth-child(1) { margin-top: calc(var(--offset) * 0.8); }}
        @mixin ch2 { &:nth-child(2) { margin-top: calc(var(--offset) * 0.2); }}
        @mixin ch3 { &:nth-child(3) { margin-top: calc(var(--offset) * 1.0); }}
        @mixin ch4 { &:nth-child(4) { margin-top: calc(var(--offset) * 0.4); }}
        @mixin ch5 { &:nth-child(5) { margin-top: calc(var(--offset) * 0.8); }}
        @mixin ch6 { &:nth-child(6) { margin-top: calc(var(--offset) * 0.2); }}
        @mixin ch7 { &:nth-child(7) { margin-top: calc(var(--offset) * 1.0); }}
        @mixin ch8 { &:nth-child(8) { margin-top: calc(var(--offset) * 0.4); }}

        // we keep image width around 500px
        @include media ("width>=3500px")                    { width:  12.5000%; @include ch1; @include ch2; @include ch3; @include ch4; @include ch5; @include ch6; @include ch7; @include ch8; }
        @include media ("width>=3000px",    "width<3500px") { width:  14.2857%; @include ch1; @include ch2; @include ch3; @include ch4; @include ch5; @include ch6; @include ch7; }
        @include media ("width>=2500px",    "width<3000px") { width:  16.6666%; @include ch1; @include ch2; @include ch3; @include ch4; @include ch5; @include ch6; }
        @include media ("width>=2000px",    "width<2500px") { width:  20.0000%; @include ch1; @include ch2; @include ch3; @include ch4; @include ch5; }
        @include media ("width>=1500px",    "width<2000px") { width:  25.0000%; @include ch1; @include ch2; @include ch3; @include ch4; }
        @include media ("width>=1000px",    "width<1500px") { width:  33.3333%; @include ch1; @include ch2; @include ch3; }
        @include media ("width>=500px",     "width<1000px") { width:  50.0000%; @include ch1; @include ch2; }
        @include media (                    "width<500px")  { width: 100.0000%; }
    }
}
