
#gallery-videos {

    // make sure the videos are not too small or way too disproportionately cropped

    @media (min-aspect-ratio: 5/6) {

        --section-height:       40vw;
        --section-width:        100vw;
    }

    @media (max-aspect-ratio: 5/6) {

        // this makes the transition without "spooky action"

        --section-height:       calc(40vh * 5 / 6);
        --section-width:        100vw;
    }

    // video proportions
    --video-height:         calc(var(--section-height)  *  1.4);        // hide youtube crap
    --video-width:          calc(var(--video-height)    *  1.777777);   // 16/9

    // centering
    --video-top:            calc(var(--video-height)    *  -0.5 + var(--section-height) * 0.5);
    --video-left:           calc(var(--video-width)     *  -0.5 + var(--section-width)  * 0.5);

    .video-wrapper {

        width:                  var(--section-width);
        height:                 var(--section-height);
        user-select:            none;
        pointer-events:         auto;
        overflow:               hidden;

        // we need to set this to fix cover positioning problems on Edge
        position:               relative;

        .video-cover {

            pointer-events:         none;

            // this is fake progress bar, goal is to make visitors
            // wait for the animation to show up
            .video-progressbar {

                position:           absolute;
                left:               0;
                top:                0;

                overflow:           hidden;

                --progress:         0%;

                // Edge do not supports "clip-path"
                @supports (-ms-ime-align:auto) {

                    width:          var(--progress);
                    z-index:        auto;
                    clip-path:      none;

                    // animation ..
                    transition-property:            width;
                    transition-timing-function:     ease-out;
                }

                width:              auto;
                z-index:            1;
                clip-path:          inset(0 calc(100% - var(--progress)) 0 0);

                // animation ..
                transition-property:            clip-path;
                transition-timing-function:     ease-out;

                img {

                    position:           relative;
                    width:              auto;   // !!
                    height:             var(--video-height);
                    left:               var(--video-left);
                    top:                var(--video-top);

                    user-select:        none;
                    pointer-events:     none;
                    z-index:            1;
                }
            }

            &.hidden    {   display: none;  }
            &.visible   {   display: block; }

            > img {

                position:           relative;
                width:              auto; // !!
                height:             var(--video-height);
                left:               var(--video-left);
                top:                var(--video-top);

                user-select:        none;
                pointer-events:     none;
                z-index:            1;

                filter:             grayscale(1.0) brightness(0.5) blur(0.4vw);
            }
        }

        iframe {

            position:           relative;
            width:              var(--video-width);
            height:             var(--video-height);
            left:               var(--video-left);
            top:                var(--video-top);

            user-select:        none;
            pointer-events:     none;
        }
    }
}
