
// hide block when overlay
#ui.overlay ~ #content .gallery-block {

    filter:         var(--gallery-block-filter-on);
    transition:     filter 0.5s;
}

#content {

    // We use lower brightness to make better contrast with UI

    --gallery-block-filter-on:  grayscale(1.0) contrast(0.5) brightness(0.5);
    --gallery-block-filter-off: grayscale(0.0) contrast(1.0) brightness(0.8);

    .gallery-block {

        filter:             var(--gallery-block-filter-on);
        transition:         filter 0.5s;

        // block recieves pointer events

        user-select:        none;
        pointer-events:     auto;
        cursor:             pointer;

        &.visible {

            filter:         var(--gallery-block-filter-off);
            transition:     filter 0.5s;
        }

        &.hidden {

            filter:         var(--gallery-block-filter-on);
            transition:     filter 0.5s;
        }
    }
/*
    .gallery-block:after {

        content: "";
        background-color: red;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }
*/

    #gallery-videos {

        --section-height:       40vw;
        --video-height:         calc(var(--section-height) *  1.4);
        --video-offset:         calc(var(--section-height) * -0.2);

        .video-wrapper {

            width:                  100%;
            height:                 var(--section-height);   // keep the video in desired proportion
            user-select:            none;
            pointer-events:         auto;
            overflow:               hidden;

            // we need to set this to fix cover positioning problems on Edge
            position:               relative;

            .video-cover {

                // this is fake progress bar, goal is to make visitors
                // wait for the animation to show up
                .video-progressbar {

                    position:           absolute;
                    left:               0;
                    top:                0;

                    overflow:           hidden;

                    // animation ..
                    width:                      0%;
                    transition-property:        width;
                    transition-timing-function: ease-out;

                    img {

                        // override !
                        filter:         none;
                    }
                }

                &.hidden    {   display: none;  }
                &.visible   {   display: block; }

                img {

                    position:           relative;
                    width:              auto;
                    left:               0;
                    height:             var(--video-height);
                    top:                var(--video-offset);
                    user-select:        none;
                    pointer-events:     none;
                    z-index:            1;

                    filter:             grayscale(1.0) brightness(0.5) blur(5px);
                }
            }

            iframe {

                // position:           absolute;
                position:           relative;
                width:              100%;
                left:               0;

                // we have to scale to stretch the video accoring aspect ratio of the video
                height:             var(--video-height);
                top:                var(--video-offset);

                user-select:        none;
                pointer-events:     none;
            }
        }
    }

    #gallery-images {

        // Prevent vertical gaps
        line-height: 0;     // no units !!

        .gallery-block {

            width: 25%;

            img {

                display:            block;  // !!
                width:              100%;   // !!

                user-select:        none;
                pointer-events:     none;
            }

            // we keep image width around 500px
            // make sure the queries are descending !
            @media (max-width: 4000px) { width:  12.5000%; }
            @media (max-width: 3500px) { width:  14.2857%; }
            @media (max-width: 3000px) { width:  16.6666%; }
            @media (max-width: 2500px) { width:  20.0000%; }
            @media (max-width: 2000px) { width:  25.0000%; }
            @media (max-width: 1500px) { width:  33.3333%; }
            @media (max-width: 1000px) { width:  50.0000%; }
            @media (max-width: 500px)  { width: 100.0000%; }
        }

        #lightbox {

            position:           fixed;
            width:              100vw;
            height:             100vh;
            left:               0;
            top:                0;
            z-index:            2;          // to be over UI
            cursor:             pointer;

            &.lightbox-hidden {

                opacity:            0.0;
                transition:         opacity 0.5s;
                pointer-events:     none;
            }

            &.lightbox-visible {

                opacity:            1.0;
                transition:         opacity 0.5s;
                pointer-events:     auto;
            }

            // center the image
            display:            flex;
            align-items:        center;
            justify-content:    center;

            -webkit-user-drag:  none;
            -khtml-user-drag:   none;
            -moz-user-drag:     none;
            -o-user-drag:       none;
            user-drag:          none;

            #lightbox-background {

                position:           absolute;
                top:                0;
                left:               0;
                width:              100%;
                height:             100%;

                // background-color:   var(--color-bg);
                // opacity:            0.9;

                // background-image:   radial-gradient(var(--color-bg) 50%, black 100%);

                // background-image:   radial-gradient(
                //     rgba(var(--color-bg-r), var(--color-bg-g), var(--color-bg-b), 0.5) 50%,
                //     rgba(var(--color-bg-r), var(--color-bg-g), var(--color-bg-b), 1.0) 100%);

                // background-image:   radial-gradient(
                //     rgba(var(--color-bg-r), var(--color-bg-g), var(--color-bg-b), 0.5) 50%, black 100%);

                background-color:   black;
                opacity:            0.75;
            }

            #lightbox-image {

                // these are like desired maximum dimensions
                height:             80vh;
                width:              auto;
                // width:              100vw;

                z-index:            1;

                // this will scale the image preserving aspect ratio to
                // fill the desired width & height
                object-fit:         contain;

                user-select:        none;
                pointer-events:     none;

                -webkit-user-drag:  none;
                -khtml-user-drag:   none;
                -moz-user-drag:     none;
                -o-user-drag:       none;
                user-drag:          none;

                // box-shadow:         0 0px 20px 0px rgba(0, 0, 0, 0.5);
            }
        }
    }
}
