
.gallery-block {

    // We use lower brightness to make better contrast with UI
    --gallery-block-filter-disabled:    grayscale(1.0) contrast(0.5) brightness(0.3);
    --gallery-block-filter-inactive:    grayscale(1.0) contrast(0.5) brightness(0.5);
    --gallery-block-filter-active:      grayscale(0.0) contrast(1.0) brightness(0.8);
    --gallery-block-filter-selected:    grayscale(0.0) contrast(1.0) brightness(0.8);

    &.button-hover,
    &.button-press {

        transition: filter 0.5s;

        &.visible {

            filter:         var(--gallery-block-filter-active);
            transition:     filter 0.5s;

            // overrides ..
            opacity:        1.0;
            pointer-events: auto;
        }

        &.hidden {

            filter:         var(--gallery-block-filter-inactive);
            transition:     filter 0.5s;

            // overrides ..
            opacity:        1.0;
            pointer-events: auto;
        }
    }

    filter:             var(--gallery-block-filter-inactive);
    transition:         filter 0.5s;

    // block recieves pointer events

    user-select:        none;
    pointer-events:     auto;
    cursor:             pointer;
}
