
#label-description {

    position:           absolute;
    width:              calc(100% - #{$ui-margin-left} - #{$ui-margin-right});

    // vertical center
    // top:                50%;
    // transform:          translateY(-50%);

    // anchor to bottom
    bottom:             $ui-margin-bottom-content;

    left:               auto;
    // right:              calc(#{$ui-margin-right} + var(--right-offset));
    right:              $ui-margin-right;
    text-align:         right;

    pointer-events:     none;
    user-select:        none;

    &.visible {

        opacity:            1.0;
        transition:         opacity 0.5s;
    }

    &.hidden {

        opacity:            0.0;
        transition:         opacity 0.5s;
    }

    h1 {

        // hide title for now it seems to look better
        visibility:         hidden;
    }

    @include media ("width<text") {

        @include media ("width<750px")  {   display: none;  }
        @include media ("height<650px") {   display: none;  }
    }

    @include media ("width>=text") {

        @include media ("height<700px") {

            display: none;
        }
    }
}

@mixin label-description-links-horizontal {

    @include media ("height<550px") {

        #label-description {

            display: none;
        }
    }
}

@mixin label-description-links-stacked () {

    @include media ("height<650px") {

        #label-description {

            display: none;
        }
    }
}

@mixin label-description-links-vertical {

    @include media ("width<text") {

        @include media ("height<1000px") {

            #label-description {

                left:               $ui-margin-left !important;
                right:              auto            !important;
                text-align:         left            !important;
            }
        }
    }

    @include media ("width>=text") {

        @include media ("height<1250px") {

            #label-description {

                left:               $ui-margin-left !important;
                right:              auto            !important;
                text-align:         left            !important;
            }
        }
    }
}
